button[data-setter] {
    outline: none;
    background: transparent;
    border: none;
    font-family: "Roboto";
    font-weight: 900;
    font-size: 3em;
    color: #222;
    cursor: pointer;
}

#circle svg {
    margin-top: 30%;
    left: 20%;
    position: relative;
    padding-bottom: 4em;
}

#circle button {
    padding: 0.7em 1.5em;
    font-size: 0.7;
    font-weight: 600;
    right: 25%;
    position: relative;
}

.seconds-set {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

#two {
    margin-top: 10em;
}

#controlls .timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#controlls .timer .timer span {
    font-size: 1.3em;
    opacity: 0.7;
}

#controlls #interval {
    padding: 0.5em 1.5em;
    border-radius: 4px;
    font-size: 1em;
    border: 0.1px solid #999;
    cursor: pointer;
}

.display-remain-time {
    font-family: "Roboto";
    font-weight: 100;
    font-size: 65px;
    color: #444;
}

#pause {
    cursor: pointer;
    font-size: 1em;
    border: 1px solid #0f0f0f;
    padding: 0.1em 0.5em;
}

.play::before {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pause::after {
    background-color: transparent;
    border-radius: 1px;
    border: 5px solid #0f0f0f;
    border-top: none;
    border-bottom: none;
}

.e-c-base {
    fill: none;
    stroke: #ebe7e7;
    stroke-width: 4px;
}

.e-c-progress {
    fill: none;
    stroke-width: 4px;
    -webkit-transition: stroke-dashoffset 0.7s;
    transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
    fill: #eb0a0a;
    stroke: #f7f4f4;
    stroke-width: 2px;
}

#e-pointer {
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
}

/* Pages style---------------- */

body {
    margin: 5% 24%;
    /* box-shadow: 0 0 3px 0; */
    border: 1px solid #bebaba;
    width: 370px;
    height: 560px;
    outline: solid #c9c5c5;
}

#one {
    background: #111;
    height: 560px;
}

#one #img {
    margin: 20% 7%;
    cursor: pointer;
    position: absolute;
}

#alarm {
    background: #111;
    height: 560px;
    height: 560px;
}

#alarm img {
    margin: 47% 23%;
    -webkit-animation: alarm 0.3s infinite;
    animation: alarm 0.3s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

#tre img {
    margin: 0.5em 0 0 5px;
}

#tre ul {
    position: absolute;
    padding: 3px;
}

#tre ul li {
    list-style: none;
    font-size: 1.3em;
    padding: 7px 0;
    cursor: pointer;
    color: #666;
}

#four button {
    padding: 0.7em 1.5em;
    font-size: 0.7;
    font-weight: 600;
    top: 70%;
    position: absolute;
}

#four img {
    margin: 1.7em 0 9.3em 2em;
}

#six {
    width: 100%;
    height: 560px;
    background: #eb0a0a;
    position: relative;
}

#six button {
    padding: 0.7em 1.5em;
    font-size: 0.7;
    font-weight: 600;
    top: 20%;
    left: 35%;
    position: absolute;
}

@-webkit-keyframes alarm {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

@keyframes alarm {
    from {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(30deg);
        transform: rotate(30deg);
    }
}

/*# sourceMappingURL=styles.css.map */