@import "body";
@import "pages";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

$fontWieght1: 900;
$fontWieght2: 600;
$fontWieght3: 100;

button[data-setter] {
  outline: none;
  background: transparent;
  border: none;
  font-weight: $fontWieght1;
  font-size: 3em;
  color: #222;
  cursor: pointer;
}

.seconds-set {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}

.display-remain-time {
  font-family: "Roboto";
  font-weight: $fontWieght3;
  font-size: 65px;
  color: #444;
}

#pause {
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #0f0f0f;
  padding: 0.1em 0.5em;
}

.play::before {
  @include center;
}

.pause::after {
  background-color: transparent;
  border-radius: 1px;
  border: 5px solid #0f0f0f;
  border-top: none;
  border-bottom: none;
}

.e-c-base {
  fill: none;
  stroke: #ebe7e7;
  stroke-width: 4px;
}

.e-c-progress {
  fill: none;
  stroke-width: 4px;
  transition: stroke-dashoffset 0.7s;
}

.e-c-pointer {
  fill: $backgrund2;
  stroke: #f7f4f4;
  stroke-width: 2px;
}

#e-pointer {
  transition: transform 0.7s;
}
