<<<<<<< HEAD
#msg{
    background: #333;
    color:aliceblue;
    opacity: 0;
    border: 1px solid #333;
    padding: 3em;
    margin: 13em;
}

#msg.show{
opacity: 1;
}
=======
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root {
    font-family: 'PT Sans', sans-serif;
}

$black: #000;
$darkgrey: #222222;
$lightgrey: #E5E5E5;
$white: #FFFFFF;

$radiusCheckbox: 3px;
$radiusBigbutton: 5px;
$radiusSmallbutton: 2px;

>>>>>>> origin/nathalie
